{% extends "tool_base.html" %}
{% load static %}

{% block head %}
                <link rel="stylesheet" href="{% static "/bphi_css/style.css" %}">
                <title>Best Probabilities from HLA Imputation</title>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <script src="{% static "blhi_script.js" %}"></script>
{% endblock %}

{% block content %}
        <div id="body-div">
                <div class="container">
                        <div class="title">
                                <h1>Best Probability from HLA Imputation</h1>
                                <p>
                                        Return only the best probabilities from an HLA imputation
                                </p>
                        </div>
                        <form action="results/" method="post" id="mainform">
                                {% csrf_token %}
				<textarea id="userinput" name="userinput" placeholder="Enter single or multi-line text" required autofocus></textarea>
                                <div id="clearbutton" class="hide">Clear</div>
                                <div class="spacer"></div>
                                <button class="btn-large btn-blank round-sm btn-blue" value="on" name="runbestprob" type="submit" form="mainform">Run</button>
                                <button class="btn-large btn-blank round-sm btn-red" value="on" name="dlbestprob" type="submit" form="mainform">Download</button>
                        </form>
                </div>
        </div>
{% endblock %}
